
/* Page Reset */

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

/* Initial Container Style */

.container {
    margin: auto;
    width: 80%;
    max-width: 800px;
    line-height: 1.8em;
    font-family: 'Open Sans', sans-serif;
    padding: 30px 0;
}

/* Navigation */

nav {
    width: 100vw;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #424242;
    text-align: center;
}

li {
    display: inline-block;
}

li a, .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: yellow;
    color: #424242
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #424242;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Typography */

h1, h2, h3 {
    font-family: 'Fjalla One', sans-serif;
    color: #424242;
}

h1 {
    font-size: 4.236em;
    line-height: 3em;
    text-align: center;
    background: url('../img/mapbckg.jpg') no-repeat center center;
}

h2 {
    font-size: 2.618em;
    line-height: 2em;
}

h3 {
  font-size: 1.618em;
  line-height: 2em;
}

p {
    margin-bottom: 1em;
    margin-top: 1em;
    line-height: 1.2em;
    color: #424242;
}

.intro:not(p) {
    background: url('../img/paula.jpg') no-repeat center center;
    background-size: cover;
}

.intro h2 {
  color: #fff;
}

.intro p {
  font-size: 1.2em;
  line-height: 1.2em;
  width: 65%;
  color: #fff;
}

blockquote p {
    font-size: 2.2em;
    line-height: 1.2em;
    text-indent: -.3em;
    padding: 1em 0 2em 1em;
    margin: 0;
    color: #9e9e9e;
}

blockquote cite {
    font-size: .5em;
}

/* footer styling */

footer {
    background-color: #424242;
    width: 100%;
}

footer p {
    font-size: .75em;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

footer h1 {
  font-size: 3.5em;
  line-height: 3em;
  text-align: center;
}

.social {
    color: #fff;
    text-align: center;
    margin: 20px 0 0 0;
}

.social a {
    color: #9e9e9e;
    text-decoration: none;
}

.icons img {
    display: inline-block;
    padding: 0 2px;
}

.icons img:hover {
  transform: scale(1.1);
}
/* images */

img {
    display: block;
    margin: auto;
    max-width: 100%;
    margin: 20px auto;
}

/* misc section styling */

#life {
    background-color: #424242;
}

#life h2 {
    color: yellow;
}

#life p {
    color: #fff;
}


/* Media Queries */

/*tablet*/
@media (max-width: 55em) {

      h1 {
        font-size: 3em;
      }

      .container{
        width: 90%;
      }

      .intro {
        background-image:none;
      }

}

/*phone*/
@media (max-width: 38em) {

      h1 {
        font-size: 2em;
      }

      h2 {
        font-size: 1.5em;
      }

      .intro {
        font-size: 1.1em;
        line-height: 1.1em;
      }

      .intro p {
        width: 90%;
        font-size: 1em;
      }

      blockquote p {
        font-size: 1.2em;
      }

      img {
        padding: 10px 0;
      }

      nav {
        display: none; /* turned it off on mobile, need to read up on responsive nav */
      }
}
